# Logging
LOG_LEVEL=INFO
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=5424991242:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0

# Parser
PARSER_BASE_URL="https://abiturient.kpfu.ru/entrant/abit_entrant_originals_list"

# DATABASE
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kfu_bot